@import url('https://fonts.googleapis.com/css2?family= Poppins & display = swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Poppins', sans-serif;
    background-color:#a6a6a6;
}

.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

header{
    background-color: #032d64;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
    font-size: 28px;
}

/*color 032d64*/
section{
    padding: 20px;
    background-image: url("./log2.jpg");
    background-size: cover;
    overflow: hidden;
    color: #666666;
}

.input{
    max-width: 240px;
    background-color: #ffffff;
    padding: 30px;
    float: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    font-size: 16px;
    color:#032d64;
}

.spacetxt{
    margin-bottom: 25px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}

button{
    text-decoration: none;
            border: none;
            padding: 11px;
            margin-bottom: 20px;
            font-size: 15px;
            background-color: #032d64;
            color: #fff;
            border-radius: 5px;
            box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.24);
            cursor: pointer;
            outline: none;
            transition: 0.1s all;
}

button:active{
    transform: scale(0.98);
            box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.24);
            
}

footer{
    background-color: rgb(43, 42, 42);
    padding: 20px;
}

.description{
   color: #ffffffab;
   display: inline-block;
   font-size: 15px;
}

